@media screen and (max-width: 480px) {

    .section3 , footer {
        display: none;
    }
    .nav-list {
        display: flex;
        gap: 20px;
        justify-content: center;
    }
    .nav-title {
        padding-bottom: 20px;
    }
    .nav-container {
        display: block;
        padding: 20px 0px;
        text-align: center;
    }
    /* banner section */
    .banner {
        margin-top: 20px;
        text-align: center;
    }
    .banner-des {
        margin-bottom: 53px;
        font-size: 16px;
        padding: 0 0px;
    }
    .banner-img {
        margin-top: 35px;
        justify-content: center;
        padding: 10px;
    }
    .banner-title {
        padding-bottom: 25px;
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
    }

    /* section 1 */

    .section1 {
        display: flex;
        align-items: center;
        padding: 5px ;
        column-gap: 3px;
        flex-direction: column-reverse;
    }

    .sec1-title {
        text-align: center;
        margin-top: 25px;
    }
    .sec1-des {
        text-align: center;
    }
   
    .sec1-img-col {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 25px;
        margin-top: 54px;
        width: 75%;
    }

    /* section 2 */

    .section2 {
        display: block;
        padding: 50px 30px;
    }
    .sec2-info-col {
        width: 100%;
        text-align: justify;
    }
    .sec2-title {
        text-align: center;
    }

















    
  }